
@mixin gappedFlex($gap){
	display: flex;
	gap: $gap;
}

.home-page{
	height: 100%;
	justify-content: center;
	align-items: center;
	background: transparent !important;
	--active-display: flex;

	.minecraft-logo{
		position: absolute;
		background: url('/minecraft.png');
		width: 500px;
		height: 85px;
		display: block;
		z-index: 1;
		background-size: cover;
		top: 10%;
	}

	.all-buttons{
		@include gappedFlex(5px);
		flex-direction: column;

		.main-buttons{
			@include gappedFlex(5px);
	
			.pair-buttons{
				@include gappedFlex(5px);
			}
	
			.tiny-buttons{
				@include gappedFlex(5px);
				flex-direction: column;
			}
	
		}
	}

	.skin-viewer{
		position: absolute;
		z-index: 1;
		right: 1%;
		bottom: 1%;
	}
	
}