
@mixin gappedFlex($gap){
	display: flex;
	gap: $gap;
}

.home-page{
	height: 100%;
	justify-content: center;
	align-items: center;
	background: transparent !important;
	--active-display: flex;
	--inactive-display: flex;

	.minecraft-logo{
		position: absolute;
		background: url('/minecraft.png');
		width: 500px;
		height: 85px;
		display: block;
		z-index: 1;
		background-size: cover;
		top: 10%;
		transform: scaleY(1);
		transition: .25s;
	}
	
	&:not(.active){
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		z-index: -1;
	}

	&:not(.active) .minecraft-logo{
		transform: scaleY(0);
	}

	.all-buttons{
		@include gappedFlex(5px);
		flex-direction: column;

		.main-buttons{
			@include gappedFlex(5px);
	
			.pair-buttons{
				@include gappedFlex(5px);
			}
	
			.tiny-buttons{
				@include gappedFlex(5px);
				flex-direction: column;
			}
	
		}
	}

	.all-buttons .button {
		transform: translate(0, 0) scaleY(1);
		transition: .25s;
	}


	&:not(.active) .all-buttons .button{
		transform: translate(0%, 0) scale(4);
		opacity: 0;
	}

	&:not(.active) .all-buttons .main-buttons .button:nth-child(1){
		transform: translate(-110%, 0) scale(4);
	}

	&:not(.active) .all-buttons .main-buttons .button:nth-child(2){
		transform: translate(110%, 0) scale(4);
	}


	.skin-viewer{
		position: absolute;
		z-index: 1;
		right: 1%;
		bottom: 1%;
	}
	
	&:not(.active) .skin-viewer{
		display: none;
	}

}